<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="teachersCache" value="..\..\Cache\teachers.json"/>
    <add key ="stylesheetInfoCache" value="..\..\Cache\styles.json"/>
  </appSettings>  
</configuration>